tcl/shell_env.tcl
.Xil/
project
src/system_top.sv
accelerator
project.tcl
shell/gen_shell.tcl
binaries
dcp
reports
system.bit
gen_system.tcl
*.swp
*.log
*.dcp
*.jou
#Vivado tmp files
iter_*
tcl/environment.tcl
tight_setup_hold_pins.txt
system_timing_u*.xdc
