[submodule "ip/axi_brom"]
	path = ip/axi_brom
	url = ../axi_brom.git
[submodule "ip/100GbEthernet"]
	path = ip/100GbEthernet
	url = ../ethernet_test.git
[submodule "ip/aurora_dma"]
	path = ip/aurora_dma
	url = ../aurora_user_interface.git
[submodule "ip/aurora_raw"]
	path = ip/aurora_raw
	url = ../aurora_raw.git
[submodule "ip/10GbEthernet"]
	path = ip/10GbEthernet
	url = ../10gb_ethernet.git
[submodule "ip/uart_16650a"]
	path = ip/uart_16650a
	url = ../ariane_uart.git
