tcl/shell_env.tcl
.Xil/
ea_url.txt
#!/support/*
project
src/system_top.sv
accelerator
project.tcl
shell/gen_shell.tcl
binaries
dcp
reports
system.bit
gen_system.tcl
*.swp
*.log
*.dcp
*.jou
#Vivado tmp files
iter_*
tcl/environment.tcl
