[submodule "ip/axi_brom"]
	path = ip/axi_brom
	url = https://github.com/MEEPproject/shell_rom.git
[submodule "ip/100GbEthernet"]
	path = ip/100GbEthernet
	url = https://github.com/MEEPproject/shell_10GbE.git
[submodule "ip/aurora_dma"]
	path = ip/aurora_dma
	url = https://github.com/MEEPproject/shell_aurora.git
[submodule "ip/aurora_raw"]
	path = ip/aurora_raw
	url = https://github.com/MEEPproject/shell_aurora.git
[submodule "ip/10GbEthernet"]
	path = ip/10GbEthernet
	url = https://github.com/MEEPproject/shell_10GbE.git
[submodule "ip/uart_16650a"]
	path = ip/uart_16650a
	url = https://github.com/MEEPproject/shell_uart.git